*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background: #1E2B38;
  }
  
  nav{
    // background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo{
      height: 60px;
      padding: 10px;
      margin-left: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    ul {
      display: flex;
      gap: 20px;
      margin-right: 3%;
    }
  
    li { 
      list-style: none;
    }
  
    a {
      text-decoration: none;
      font-size: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  
    a:hover {
      color: orange;
    }
  }
  
  main{
    // background-color: #ccc;
    .welcome{
      // background-color: aqua;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 75px;
      margin-top: 100px;
  
      p{
        font-family: cursive;
        color: white;
        font-size: 5rem;
        text-shadow: 10px 10px 7px white;
      }
    }
  
    .about-me{
      // background-color: chocolate;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 50px;
  
      p {
        font-size: 36px;
        color: white;
      }
    }
  
    .container-about-me{
      // background-color: grey;
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: row;
  
      .img-about-me{
        // background-color: rebeccapurple;
        width: 50%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
            width: 300px;
          border-radius: 10%;
        }
      }
  
      .description-about-me{
        //background-color: wheat;
        width: 50%;
  
        p {
          margin: 50px;
          text-align: justify;
          color: white;
        }
      }
    }

    .container-habilitys{
        // background-color: aliceblue;
        height: 600px;

        .title-habilitys{
            // background-color: grey;
            
            p {
                color: white;
                font-size: 36px;
                text-align: center;
                padding: 30px;
            }
        }

        .container {
            // background-color: chocolate;
            display: flex;
            justify-content: center;
            align-items: center;
          
            .text-habilitys {
              padding: 50px;
              width: 50%;
              color: white;
            }
          
            .img-habilitys {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
              // background-color: aquamarine;
          
              img {
                width: 200px;
                border-radius: 10px;
              }
            }
          }
          

    }
  }
  